.an-daterange-picker {
  position: relative;
  padding: $padding-base - 5 $padding-small $padding-base - 2;
  cursor: pointer;
  color: $link-color;
  @include border(lighten($font-color-light, 10%));
  @include border-radius($border-radius);

  @media (max-width: $screen-sm) {
    margin-top: $margin-small;
    width: 100%;
  }

  .pull-right {
    @media (max-width: $screen-sm) {
      float: none;
    }
  }
}
#reportrange {
  i {
    font-size: 18px;
    position: relative;
    top: 2px;
  }
}


// Range picker button redesign
.ranges {
  li {
    background: transparent;
    color: $font-color-base;
    margin-bottom: margin-base - 5;
    @include transition(.3s);

    &.active {
      background: $color-primary;
      border-color: $color-primary;

    }
  }
}


// calender input style
.daterangepicker {
  .input-mini {
    outline:0;
    &.active,
    &:active,
    &:focus {
      border-color: $color-primary;
    }
  }
}


// Calender custom design
.daterangepicker td {
  height: 35px;
  width: 35px;
  @include border-radius($border-radius);

  &.active {
    &.available {
      &:hover {
        background: darken($color-primary, 5%);
      }
    }
  }

  &.available {
    &:hover {
      background: rgba($color-primary, .5);
    }
  }


  &.start-date {
    &.active {
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &.end-date {
    &.active {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
    }
  }

  &.start-date.end-date {
    @include border-radius($border-radius);
    &.active {
      &:hover {
        background: darken($color-primary, 5%);
      }
    }
  }



  &.in-range {
    background: rgba($color-primary, .3);
  }

  &.active {
    background-color: $color-primary;
    @include border-radius($border-radius);
  }
}


.daterangepicker th {
  width: 35px;
  height: 35px;
  line-height: 35px;
  @include border-radius($border-radius);

  &.next.available,
  &.prev.available{
    &:hover {
      background: rgba($color-primary, .3);
    }
  }
}

.dropdown-menu {
    box-shadow: 0 0 20px 2px rgba(204, 204, 204, 0.4);
}

