.an-contact-us-content {
  position: relative;
  .contact-details {
    position: relative;
    padding: $padding-large * 2 0 $padding-large;

    input ,
    textarea {
      margin-bottom: $margin-medium;
    }
  }

  .address-single {
    position: relative;
    margin-bottom: $margin-large;
    padding-left: $padding-large * 2;

    i {
      position: absolute;
      left: 0;
      width: 40px;
      height: 40px;
      @extend .text-center;
      font-size: $font-size-h2;
      line-height: 43px;
      background: $color-primary;
      color: $font-color-white;
      @include border-radius($border-radius);
    }
    h4 {
      margin-bottom: $margin-small;
      font-size: $font-size-base + 1;
    }
    p {
      margin: 0;
      color: $font-color-light;
      span {
        padding-left: $padding-large;
      }
    }
  }

  .contact-map-content {
    position: relative;
    left: 0;
    right: 0;
    width: 100%;
    height: 300px;

    #contact-map {
      width: 100%;
      height: 100%;
    }
  }
}
