// Fileanme : _mixins.scss
//
// Some basic mixin fro avoididing repeat code

// use transition mixin to use any type of transition effect
@mixin transition($property: all, $time: .3s, $method: ease) {
  transition: $property $time $method;
}
// box shadow
@mixin an-box-shadow() {
    -webkit-box-shadow: 0 6px 25px 0 rgba($color-secondary-light, .2);
    -moz-box-shadow:  0 6px 25px 0 rgba($color-secondary-light, .2);
    box-shadow:  0 6px 25px 0 rgba($color-secondary-light, .2);
}
// border
@mixin border($value) {
  border: 1px solid $value;
}

@mixin border-bottom($value) {
  border-bottom: 1px solid $value;
}

@mixin border-top($value) {
  border-top: 1px solid $value;
}

@mixin border-left($value) {
  border-left: 1px solid $value;
}

@mixin border-right($value) {
  border-right: 1px solid $value;
}

@mixin border-radius($value) {
  border-radius: $value;
}

// Background image poistioning
@mixin background-property {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

// Text wrappign mixin
@mixin text-wrapping {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


// box shadow for all body content



// flexbox mixing

@mixin display($value) {
  display: $value;
}

@mixin align-items($value) {
  align-items: $value;
}

@mixin justify-content($value) {
  justify-content: $value;
}

@mixin flex-wrap($value) {
  flex-wrap: $value;
}

@mixin flex-grow($value) {
  flex-grow: $value;
}

@mixin flex-direction($value) {
  flex-direction: $value;
}

@mixin text-align($value) {
  text-align: $value;
}




@mixin flex-center() {
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
}

@mixin flex-space-between() {
  @include display(flex);
  @include align-items(center);
  @include justify-content(space-between);
  @include flex-wrap(wrap);
}


// overlay
@mixin overlay() {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba($black, .6);
  z-index: 9;
  @include transition();
}


// Text overflow mixins
@mixin text-overflow {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


@mixin circle-icon-link {
  width: $login-link-width;
  height: $login-link-width;
  padding: 0;
  display: block;
  @include flex-center();
  @include border ($color-secondary-light);
  @include border-radius(50%);
  @include text-align(center);


  i {
    padding: 0;
  }
}

@mixin circle-icon-link-white {
  width: $login-link-width;
  height: $login-link-width;
  padding: 0;
  display: block;
  @include flex-center();
  color: $font-color-white;
  @include border ($color-content-bg-white);
  @include border-radius(50%);
  @include text-align(center);

  &:hover {
    color: $color-primary;
  }


  i {
    padding: 0;
  }
}

@mixin circle-icon-link-dark {
  width: $login-link-width;
  height: $login-link-width;
  padding: 0;
  display: block;
  background: $color-secondary;
  @include flex-center();
  @include border ($color-secondary);
  @include border-radius(50%);
  @include text-align(center);
  @include transition();

  /* &:hover { */
    // background: $color-primary;
    // @include border ($color-primary);
    // color: $font-color-white;
  /* } */


  i {
    padding: 0;
  }
}
